
*.m4

recipe/autom4te.cache

recipe/config.log

recipe/config.status

recipe/configure

recipe/install-sh

recipe/Makefile

recipe/Makefile.in

recipe/missing

recipe/image-minimizer.ks

recipe/repos.ks

recipe/version.ks

recipe/archipel-node-image.ks
